.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul > * {
  list-style: none;
  margin-right: 0.5rem;
}
